<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
</head>
<body>
<header>
    <h1>Мое предложение: {{ planet_name }}</h1>
    <h4>Эта планета близка к Земле;</h4>
    <div class="alert alert-success" role="alert">
        <h4>На ней много необходиммых ресурсов;</h4>
    </div>
    <div class="alert alert-dark" role="alert">
        <h4>На ней есть вода и атмосфера;</h4>
    </div>
    <div class="alert alert-warning" role="alert">
        <h4>На ней есть большое магнитное поле;</h4>
    </div>
    <div class="alert alert-danger" role="alert">
        <h4>Наконец, она просто красива!</h4>
    </div>
</body>
</html>